<div class="hero-section" style="background-image: url('../../../assets/images/llachon.png'); width: 100%; height: 760px;">
  <div class="overlay"></div>
  <div class="container" data-aos="fade-down" data-aos-duration="1000">
    <div class="row no-gutters hero-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 text-center">
        <p class="breadcrumb-trail"><span class="mr-2"><a href="index.html">Inicio</a></span><span>>Destinos</span> <span> >Escallani</span></p>
        <h1 class="hero-title mb-3">BIENVENIDOS A <br>ESCALLANI</h1>
        <p class="hero-subtitle">Un encuentro de tradición y naturaleza en las alturas del Lago Titicaca.</p>
      </div>
    </div>
  </div>
</div>


<section class="community-section">
  <div class="container">
    <div class="row">
      <!-- Imagen de la izquierda -->
      <div class="col-md-6 order-md-first">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/escallani_datos.png" alt="de Llachón" class="community-image">
        </div>
      </div>
      <!-- Texto de la derecha -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="text-container">
          <p class="section-description">
            Escallani cuenta con números atractivos naturales entre los cuales formaciones rocosas de más de 80 metros de altura, una multitud de piedras blancas filudas conocidas como “la ciudad perdida de Sacrapampa”, santuarios de piedras, miradores naturales y senderos, todos ellos ideales para realizar inolvidables caminatas con vistas panorámicas sobre el lago Titicaca.
            El mismo lago también es idóneo para descubrir los criaderos de truchas, los totorales, hábitat de numerosas aves así como para observar la extensa playa de Escallani y disfrutar de la tranquilidad del lugar. Las actividades cotidianas, las tradiciones de los pobladores como sus danzas típicas y la arquitectura típica del lugar conforman los atractivos culturales.
          </p>
          <h3>Datos Generales:</h3>
          <ul>
            <li>Ubicación: Provincia de Puno, Distrito de Capachica.</li>
            <li>Estancia recomendada: 02 días / 01 Noche</li>
            <li>Altitud: 3820 msnm</li>
            <li>Clima: seco y templado</li>
            <li>Época de lluvias: diciembre - abril</li>
            <li>Temperatura máxima: 20°C / 61°F</li>
            <li>Temperatura mínima: 05°C / 41°F</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title">
          <h2>Quédate con Nosotros</h2>
          <p>
            El hospedaje en Escallani es una experiencia inmersiva en la vida local. Los visitantes pueden hospedarse en casas rurales gestionadas por familias locales, donde experimentan la calidez de la hospitalidad andina y disfrutan de una estancia tranquila rodeados de impresionantes paisajes. Las estancias ofrecen una auténtica gastronomía local, con platos preparados con productos frescos cultivados en la comunidad.
          </p>
        </div>
      </div>
      <!-- Carrusel a la derecha -->
      <div class="col-md-6" data-aos="flip-left" data-aos-duration="1500">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="accommodation-card">
                <img src="assets/images/escallani_hotel1.png" alt="La Florida Hospedaje Rural">
                <h3>Hospedaje y Restaurante Saywa</h3>
                <p>
                  Hospedaje y Restaurante Saywa se encuentra en Llachon y ofrece alojamiento de de 3 estrellas con acceso a un jardín y terraza. Algunas unidades incluyen balcón y/o patio con vistas a la montaña o al lago.
                </p>
                <a (click)="agregarAlCarrito('Hospedaje y Restaurante Saywa',
                'Hospedaje y Restaurante Saywa se encuentra en Llachon y ofrece alojamiento de de 3 estrellas',
                'assets/images/escallani_hotel1.png', 70.00)"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
              <div class="accommodation-card">
                <img src="assets/images/escallani_hotel2.png" alt="Casa de Oliver y Sebastiana">
                <h3>Casa de Valentín</h3>
                <p>
                  Si te alojas en Casa de Valentin en Capachica, estarás cerca de la playa, a pocos pasos del lago Titicaca. Esta casa de huéspedes de playa se encuentra a 15,2 km de Playa Chifron y a 23,2 km de Isla Tikonata.
                </p>
                <a (click)="agregarAlCarrito('Casa de Valentín',
                'Si te alojas en Casa de Valentin en Capachica, estarás cerca de la playa, a pocos pasos del lago Titicaca.',
                'assets/images/escallani_hotel2.png', 78.00)"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
              <div class="accommodation-card">
                <img src="assets/images/escallani_hotel3.png" alt="Munay Tika Wasi">
                <h3>Muña Wasi & Lodge</h3>
                <p>
                  Muña Wasi & Lodge está en Amantani y ofrece alojamiento con patio.  Las unidades cuentan con balcón con vistas al mar.  En el lodge se sirve todas las mañanas un desayuno continental.  En Muña Wasi & Lodge se puede usar la terraza solárium.
                </p>
                <a (click)="agregarAlCarrito('Muña Wasi & Lodge',
                'Muña Wasi & Lodge está en Amantani y ofrece alojamiento con patio.',
                'assets/images/escallani_hotel3.png', 45.00)"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="attractions-section">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title1">
          <h2>Atractivos turísticos:</h2>
          <ul>
            <li>
              Posee un paisaje espectacular de vistas panorámicas con espejo de agua durante todo su recorrido, posee centros arqueológicos con evidencias de la cultura Qullas, hoy también miradores naturales como “Apu aya caru pata ” wak a waman pata y estrella pata lugares donde se rinden culto a los dioses andinos como actos de agrade cientos y petición.
            </li>
            <li>
              Formaciones geológicas por la propia erupción de la tierra (restos fósiles)
            </li>
            <li>
              Playa caloría en arena blanca
            <li>
            Museo del lenguaje de piedras una arte plasmado por los niños de la escuela chillora
            </li>
            <li>Sistema de andeneria y producción agrícola</li>
            <li>Museo del lenguaje de piedras agrícola ganadería, un parte plasmado por los niños de la escuela chillora</li>
            <li>Sistema de andenería y producción agrícola</li>
            <li>Ganadería y pescar artesanal</li>
            <li>Atractivos humanos con vestimentas típicas</li>
            <li>Danza, músicos y artesanía propia.</li>
            <li>Pobladores con vestimenta típica amables y atentos</li>
          </ul>
        </div>
      </div>
      <!-- Imagen a la derecha -->
      <div class="col-md-6">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/escallani_turista1.png" alt="Atractivos turísticos">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="attractions-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/escallani_turista2.png" alt="Atractivos turísticos">
        </div>
      </div>
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title1">
          <h2>El turista puede experimentar:</h2>
          <ul>
            <li>Deportes de aventura, camping en la playa calaría escalinata, rappel en el mirador caballo haphina paseo en botes veleros, pesca artesanal, ciclismo.</li>
            <li>Turismo ecológico mediante la observación de flora y fauna, restos fósiles, el uso de las plantas medicinales explicado por los pobladores y vistas panorámicas de la zona.</li>
            <li>Visita a la institución educativa de chillora, para observar y compartir I lenguajes de piedras (trabajos artísticos plasmados en cuadro con piedras de la playa)</li>
            <li>Agro turismo de acuerdo al calendario agrícola y la época de visitas al ligar</li>
            <li>Pernoctación en casas de adobe, paja y totora de las familias. </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Nuestras Redes Sociales</h2>
          <p>Puedes seguirnos en nuestras redes sociales para estar al tanto de nuevos eventos y actividades que tenemos preparados para ti.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Informacion</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Acerca de Nosotros</a></li>
            <li><a href="#" class="py-2 d-block">Contactanos</a></li>
            <li><a href="#" class="py-2 d-block">Preguntas Generales</a></li>
            <li><a href="#" class="py-2 d-block">Ternimos y Condiciones</a></li>
            <li><a href="#" class="py-2 d-block">Politicas de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">¿Tienes alguna Pregunta?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Plaza de Armas S/N - Capachica - Puno - Perú</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+51 950 923 204</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">municapachica2023&#64;gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
      </div>
    </div>-->
  </div>
</footer>

