<div class="hero-wrap" style= "background-image: url('assets/images/bg_1.jpg'); width: 100%; height: 760px;">
  <div class="overlay"></div>
  <div class="container" data-aos="fade-down" data-aos-duration="1000">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Inicio</a></span> <span>>Nosotros</span></p>
        <h1 class="mb-3 bread">Acerca de Nosotros</h1>
      </div>
    </div>
  </div>
</div>

<section class="section-historia">
  <div class="container-historia">
    <div class="historia-texto" data-aos="fade-right" data-aos-duration="1000">
      <h2><strong>HISTORIA DE CAPACHICA</strong></h2>
      <p>
        Capachica fue fundada con el nombre de San Salvador de Capachica en el momento en que los españoles llegaron a orillas del riachuelo Musinca.
        Los principales solares, de acuerdo mutuo, fueron repartidos conforme a lo dispuesto por la iglesia, el cabildo y la Gobernación.
        El nombre de San Salvador se debe, según cuentan, en agradecimiento de los españoles que naufragaron en una embarcación de totora;
        luego de muchos ruegos y oraciones estos pudieron por fin salvarse, de ahí nace el nombre San Salvador de Capachica.
      </p>
      <p>
        En un inicio Capachica pertenecía a la provincia de Huancané. Esto sucedía en el período presidencial del Mariscal Ramón Castilla,
        quien lo incorporó a la provincia de Puno según D.L. 12103 del 02-05-1854. Capachica intervino en todos los movimientos sociales
        y reivindicativas en contra de la opresión de los españoles.
      </p>
      <p>
        Durante la rebelión de Túpac Amaru, fueron apresados los líderes Capachiqueños de entonces quienes luego fueron decapitados
        en la misma población y sus cabezas colgadas en una gran roca. Hoy se conoce a esta gran roca como Umasuyo. Durante la independencia
        hubo también un movimiento Tahuantinsuyo, sus líderes fueron de diferentes parcialidades como Paucar de Capano, Mendoza de Chillora
        y otros que han quedado en el anonimato.
      </p>
      <p><em>Conocer más sobre la historia ...</em></p>
    </div>

    <div class="historia-imagen" data-aos="fade-left" data-aos-duration="1000">
      <img src="assets/images/image_13.png" alt="Paisaje de Capachica">
    </div>
  </div>
</section>
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
  </div>
</section>

<div class="frame">
  <div class="text-wrapper">Como Llegar</div>
  <table class="table table-bordered" data-aos="flip-left" data-aos-duration="1500">
    <thead>
    <tr>
      <th colspan="3" class="text-center">TRANSPORTE TERRESTRE</th>
    </tr>
    <tr>
      <th>Localidad</th>
      <th>Distancia (km)</th>
      <th>Tiempo aproximado (hora)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Puno – Capachica</td>
      <td>62</td>
      <td>1:10</td>
    </tr>
    <tr>
      <td>Puno – Chifrón</td>
      <td>66.5</td>
      <td>1:20</td>
    </tr>
    <tr>
      <td>Puno – Pampaís (Siale)</td>
      <td>67</td>
      <td>1:30</td>
    </tr>
    <tr>
      <td>Puno – Ccotos</td>
      <td>69</td>
      <td>1:35</td>
    </tr>
    <tr>
      <td>Puno – Llachón</td>
      <td>75</td>
      <td>1:45</td>
    </tr>
    <tr>
      <td>Puno – Escallani</td>
      <td>77</td>
      <td>2:00</td>
    </tr>
    </tbody>
  </table>

  <table class="table table-bordered" data-aos="flip-left" data-aos-duration="1500">
    <thead>
    <tr>
      <th colspan="2" class="text-center">TRANSPORTE ACUÁTICO</th>
    </tr>
    <tr>
      <th>Localidad</th>
      <th>Tiempo aproximado (hora)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Puno – Capachica</td>
      <td>1:20</td>
    </tr>
    <tr>
      <td>Puno – Chifrón</td>
      <td>1:25</td>
    </tr>
    <tr>
      <td>Puno – Pampaís (Siale)</td>
      <td>1:30</td>
    </tr>
    <tr>
      <td>Puno – Ccotos</td>
      <td>1:35</td>
    </tr>
    <tr>
      <td>Puno – Llachón</td>
      <td>1:45</td>
    </tr>
    <tr>
      <td>Puno – Escallani</td>
      <td>2:00</td>
    </tr>
    </tbody>
  </table>
</div>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1000">
        <div class="intro1 text-white">
          <h3 class="text-white">QUÉ LLEVAR A CAPACHICA</h3>
          <p>Estos son los artículos que recomendamos llevar para tu viaje a Capachica:</p>
          <ul>
            <li>DNI</li>
            <li>Protector/bloqueador solar, gorras</li>
            <li>Lentes de sol (para evitar que la arena entre en los ojos)</li>
            <li>Ropa cómoda (para caminar y explorar).</li>
            <li>Suéter (puede hacer frío por las noches)</li>
            <li>Zapatillas cómodas </li>
            <li>Repelente de insectos</li>
            <li>Mochila ligera</li>
            <li>Dinero en efectivo(No hay presencia de cajeros)</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1000">
        <div class="intro1 text-white">
          <h3 class="text-white">CLIMA DE CAPACHICA</h3>
          <p>El clima de la zona de Capachica es frío y húmedo con una temperatura media anual de 8 a 12 °C. La temperatura más alta registrada hasta el momento es de 18,6 °C.
            Las oscilaciones diarias de temperatura son más significativas que las variaciones mensuales, sobre todo en horas de la noche, puesto que estas bajan a veces hasta los -3 °C. Las heladas se presentan en una temporada (mayo, junio y julio) Cuando las heladas se presentan en tiempo de lluvias perjudican los cultivos (25 de diciembre, 6, 20, de enero, 2 de febrero y al final del mes de febrero) no permiten el buen desarrollo de las plantas, bajando la producción y productividad.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-about d-md-flex bg-light">
  <div class="one-half img" style="background-image: url(../../../assets/images/llanchon.png);"></div>
  <div class="one-half">
    <div class="heading-section" data-aos="fade-right" data-aos-duration="1000">
      <h2 class="mb-4">La Municipalidad de Capachica</h2>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000">
      <p>En Municipalidad de Capachica nos apasiona compartir la belleza y cultura de este maravilloso destino. Nuestro objetivo es ofrecerte experiencias inolvidables en cada rincón de Capachica, guiándote por sus paisajes impresionantes, su gente amable y sus tradiciones únicas. Nos dedicamos a brindarte información precisa y actualizada sobre las mejores actividades, lugares para visitar y eventos locales. ¡Te invitamos a ser parte de la magia de Capachica y a descubrir todo lo que este increíble lugar tiene para ofrecer!</p>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1000">
        <div class="intro">
          <p>Nuestro propósito es conectar a los visitantes con la auténtica belleza y cultura de Capachica, brindando experiencias únicas y personalizadas.</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1000">
        <div class="intro">
          <p> Tours guiados, actividades culturales, excursiones por los paisajes naturales, y eventos especiales que te permitirán conocer la verdadera esencia de Capachica.</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1000">
        <div class="intro">
          <p>Las experiencias compartidas por nuestros viajeros son la mejor prueba de la calidad de nuestros servicios.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Nuestras Redes Sociales</h2>
          <p>Puedes seguirnos en nuestras redes sociales para estar al tanto de nuevos eventos y actividades que tenemos preparados para ti.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Informacion</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Acerca de Nosotros</a></li>
            <li><a href="#" class="py-2 d-block">Contactanos</a></li>
            <li><a href="#" class="py-2 d-block">Preguntas Generales</a></li>
            <li><a href="#" class="py-2 d-block">Ternimos y Condiciones</a></li>
            <li><a href="#" class="py-2 d-block">Politicas de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">¿Tienes alguna Pregunta?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Plaza de Armas S/N - Capachica - Puno - Perú</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+51 950 923 204</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">municapachica2023&#64;gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
      </div>
    </div>-->
  </div>
</footer>

