<div
  class="hero-wrap js-fullheight"
  [ngStyle]="{ 'background-image': 'url(' + currentImage + ')' }"
  style="width: 100%; height: 760px;"
>
  <div class="overlay"></div>
  <div class="container" data-aos="fade-down" data-aos-duration="1000">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start">
      <div class="col-md-9 text-center text-sm-left">
        <h1 class="mb-4">Descubre la Península de Capachica</h1>
        <p>Sumérgete en la cultura y belleza natural de este rincón de Puno</p>
      </div>
    </div>
  </div>
</div>



<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="section-title-wrapper text-center mb-5" data-aos="zoom-in">
        <span class="section-decorated-title">Descubre <span class="divider">-</span> Vive <span class="divider">-</span> Conecta</span>
      </div>
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1000">
        <div class="intro">
          <h3><span>01</span> Descubre en Capachica</h3>
          <p>Un rincón único a orillas del majestuoso Lago Titicaca, donde la naturaleza y la cultura ancestral se entrelazan. Déjate cautivar por sus impresionantes paisajes y su gente acogedora. </p>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1000">
        <div class="intro">
          <h3><span>02</span> Vive la Experiencia</h3>
          <p>Sumérgete en la autenticidad de sus comunidades quechuas, disfruta de la gastronomía local y explora sus islas flotantes y naturales. Un destino lleno de historia y tradición. </p>
        </div>
      </div>
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1000">
        <div class="intro">
          <h3><span>03</span> Conecta con la Naturaleza </h3>
          <p>En Capachica, la tranquilidad del lago y el aire puro andino te invitan a desconectarte del estrés diario. Un lugar ideal para recargar energías y crear momentos inolvidables.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3" data-aos="flip-left" data-aos-duration="1000">
      <div class="col-md-7 heading-section text-center">
        <h2 class="mb-4">Vea nuestras últimas ideas de vacaciones</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" data-aos="flip-left" data-aos-duration="1500">
        <a href="#" class="destination-entry img" style="background-image: url(assets/images/image05.jpg);">
          <div class="text text-center">
            <h3>Paisaje frente a la playa</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4" data-aos="zoom-in" data-aos-duration="1500">
        <a href="#" class="destination-entry img" style="background-image: url(assets/images/image06.jpg);">
          <div class="text text-center">
            <h3>Vacaciones en grupo</h3>
          </div>
        </a>
      </div>
      <div class="col-md-4" data-aos="flip-right" data-aos-duration="1500">
        <a href="#" class="destination-entry img" style="background-image: url(assets/images/image07.jpeg);">
          <div class="text text-center">
            <h3>Artesania</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="ftco-about d-md-flex">
  <div class="one-half img" style="background-image: url(assets/images/image08.jpg);"></div>
  <div class="one-half">
    <div class="heading-section" data-aos="fade-right" data-aos-duration="1000">
      <h2 class="mb-4">Ofrecemos:</h2>
    </div>
    <div data-aos="fade-left" data-aos-duration="1000">
      <p>El Distrito Municipal de Capachica ofrece la mejor agencia de viajes para descubrir la magia del Lago Titicaca con experiencias únicas y auténticas. A través de tours exclusivos, podrá explorar las islas flotantes y naturales, como Amantaní y Tikonata, con guías locales que lo sumergirán en la cultura y las tradiciones ancestrales de la región. Disfrute del turismo vivencial, compartiendo la hospitalidad de las comunidades quechuas, su gastronomía y su estilo de vida. Nuestras rutas lo llevarán a paisajes impresionantes, caminatas escénicas y paseos en bote al amanecer, permitiéndole conectar con la naturaleza en su máxima expresión. Viva una aventura inolvidable con la mejor agencia de viajes de Capachica y deje que el encanto del Titicaca convierta su viaje en una experiencia única.</p>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="mb-4">Destinos más populares</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm col-md-6 col-lg">
        <div class="destination">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/Llachon.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a>Llachon</a></h3>
              </div>
            </div>
            <p>Conocido por su impresionante belleza natural y sus tradiciones culturales únicas</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg">
        <div class="destination d-md-flex flex-column-reverse">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/Chifron.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a>Chifrón </a></h3>
              </div>
            </div>
            <p>Chifrón cuenta con una extensa playa de arena que permite disfrutar de las aguas cristalinas del lago Titicaca</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg">
        <div class="destination">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/ccotos.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a>Ccotos</a></h3>
              </div>
            </div>
            <p>Ofrece una experiencia auténtica y vivencial, permitiendo a los visitantes conocer la cultura y la vida cotidiana de la comunidad</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg">
        <div class="destination d-md-flex flex-column-reverse">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/isla.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a>Isla Tikonata</a></h3>
              </div>
            </div>
            <p>Se caracteriza por sus casas construidas en forma circular, similar a los Putucos preincas </p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center" data-aos="fade-right" data-aos-duration="1000">
        <h2 class="mb-4">Hospedajes Populares</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm col-md-6 col-lg" >
        <div class="destination">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/hotel-7.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a href="#">Llachon</a></h3>
              </div>
              <div class="two">
                <span class="price per-price">S/.20<br><small>/noche</small></span>
              </div>
            </div>
            <p>Los visitantes se hospedarán en habitaciones tradicionales de adobe, decoradas de manera autentica. </p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg">
        <div class="destination d-md-flex flex-column-reverse">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/hotel-9.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a href="#">Ccotos</a></h3>
              </div>
              <div class="two">
                <span class="price per-price">S/.15<br><small>/noche</small></span>
              </div>
            </div>
            <p>Las cabañas se encuentran ubicadas al lado de las de las familias, a poca distancia del lago Titicaca.</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg">
        <div class="destination">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/hotel-10.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a href="#">Isla Tikonata</a></h3>
              </div>
              <div class="two">
                <span class="price per-price">S/.18<br><small>/noche</small></span>
              </div>
            </div>
            <p>Los visitantes se hospedarán en hermosas habitaciones tradicionales circulares, de adobe y decoradas de manera autentica.</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg">
        <div class="destination d-md-flex flex-column-reverse">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/hotel-11.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a href="#">Siale – Paramis</a></h3>
              </div>
              <div class="two">
                <span class="price per-price">S/.15<br><small>/noche</small></span>
              </div>
            </div>
            <p>Los visitantes se hospedarán en habitaciones tradicionales de adobe, decoradas de manera autentica.</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg">
        <div class="destination">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/hotel-12.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="d-flex">
              <div class="one">
                <h3><a href="#">Escallani</a></h3>
              </div>
              <div class="two">
                <span class="price per-price">S/.20<br><small>/noche</small></span>
              </div>
            </div>
            <p>Los visitantes se hospedarán en hermosas habitaciones tradicionales de adobe, decoradas de manera autentica.</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Descubre</a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials-section">
  <div class="container text-center">
    <p class="sub-title">Testimonial</p>
    <h2 class="title">Comentarios de los turistas</h2>
    <div class="testimonials-carousel-wrapper">
      <button class="carousel-btn left" (click)="scrollLeft()">&lt;</button>
      <div class="testimonials-carousel" id="carousel">
        <div class="testimonial-card" data-aos="flip-left" data-aos-duration="1500">
          <div><p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
          </div>
          <p class="message">Desde el primer contacto, la agencia nos ayudó a planificar una visita perfecta a Capachica. ¡Un servicio excepcional!</p>
          <div class="user-info">
            <img src="assets/images/person_1.jpg" alt="Sapito" />
            <div>
              <p class="name">Sapito</p>
              <p class="role">Visitante</p>
            </div>
          </div>
        </div>

        <div class="testimonial-card" data-aos="flip-left" data-aos-duration="1500">
          <div><p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
          </div>
          <p class="message">Llachón fue simplemente mágico. La vista del lago al amanecer y la amabilidad de los lugareños lo hicieron...</p>
          <div class="user-info">
            <img src="assets/images/person_2.jpg" alt="Alessandro Pastor" />
            <div>
              <p class="name">Alessandro Pastor</p>
              <p class="role">Viajero de Estados Unidos</p>
            </div>
          </div>
        </div>

        <div class="testimonial-card" data-aos="flip-left" data-aos-duration="1500">
          <div><p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
          </div>
          <p class="message">La playa de Chifrón es una joya escondida. Aguas cristalinas y un ambiente tranquilo; no podría pedir más.</p>
          <div class="user-info">
            <img src="assets/images/person_3.jpg" alt="Andrés Lino" />
            <div>
              <p class="name">Andrés Lino</p>
              <p class="role">Fotógrafo de Argentina</p>
            </div>
          </div>
        </div>

        <div class="testimonial-card" data-aos="flip-left" data-aos-duration="1500">
          <div><p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
          </div>
          <p class="message">La playa de Chifrón es una joya escondida. Aguas cristalinas y un ambiente tranquilo; no podría pedir más.</p>
          <div class="user-info">
            <img src="assets/images/person_3.jpg" alt="Andrés Lino" />
            <div>
              <p class="name">Andrés Lino</p>
              <p class="role">Fotógrafo de Argentina</p>
            </div>
          </div>
        </div>

        <div class="testimonial-card" data-aos="flip-left" data-aos-duration="1500">
          <div><p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
          </div>
          <p class="message">La playa de Chifrón es una joya escondida. Aguas cristalinas y un ambiente tranquilo; no podría pedir más.</p>
          <div class="user-info">
            <img src="assets/images/person_3.jpg" alt="Andrés Lino" />
            <div>
              <p class="name">Andrés Lino</p>
              <p class="role">Fotógrafo de Argentina</p>
            </div>
          </div>
        </div>

        <div class="testimonial-card" data-aos="flip-left" data-aos-duration="1500">
          <div><p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
          </div>
          <p class="message">La playa de Chifrón es una joya escondida. Aguas cristalinas y un ambiente tranquilo; no podría pedir más.</p>
          <div class="user-info">
            <img src="assets/images/person_3.jpg" alt="Andrés Lino" />
            <div>
              <p class="name">Andrés Lino</p>
              <p class="role">Fotógrafo de Argentina</p>
            </div>
          </div>
        </div>
        <!-- Puedes añadir más tarjetas aquí -->
      </div>

      <button class="carousel-btn right" (click)="scrollRight()">&gt;</button>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center">
        <h2 class="mb-4">Mejores Lugares para Comer</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="destination">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/restaurant1.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <h3><a href="#">Siale - Paramis</a></h3>
            <p>La alimentación se basa en productos locales y ofrece la oportunidad de probar la "comida Novoandina"</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Reservar</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="destination d-md-flex flex-column-reverse">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/restaurant2.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <h3><a href="#">Escallani</a></h3>
            <p>Los restaurantes rurales ofrecen platos típicos, como carachis, pejerrey y mauris</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Reservar</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="destination">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/restaurant3.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <h3><a href="#">Isla Tikonata</a></h3>
            <p>Platos típicos de la zona en restaurantes rurales, con productos locales de las parcelas y pescados del lago Titicaca. </p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Reservar</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="destination d-md-flex flex-column-reverse">
          <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
             style="background-image: url(assets/images/restaurant4.png);" data-aos="flip-left" data-aos-duration="1500">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-link"></span>
            </div>
          </a>
          <div class="text p-3" data-aos="zoom-in" data-aos-duration="1000">
            <h3><a href="#">Chifrón</a></h3>
            <p>Platos típicos de la región, con énfasis en pescados del lago Titicaca, especialmente truchas</p>
            <hr>
            <p class="bottom-area d-flex">
              <span><i class="icon-map-o"></i> Capachica-Puno</span>
              <span class="ml-auto"><a href="#">Reservar</a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-featured">
  <!-- Fondo superior tipo cabecera -->
  <div class="featured-background">
    <img src="assets/images/fondo.png" alt="Fondo turístico">
  </div>

  <!-- Contenido superpuesto -->
  <div class="featured-content">
    <!-- Imagen superpuesta con sombra -->
    <div class="featured-image-card">
      <img src="assets/images/fondo1.png" alt="Vista Capachica">
    </div>

    <!-- Texto -->
    <div class="featured-text">
      <h2>Haga que su recorrido <br>sea memorable y <br>seguro con nosotros</h2>
      <p>
        Somos una agencia de viajes local con sede en Capachica, Puno, un lugar mágico a orillas del lago Titicaca.
        Nuestra misión es conectar a los viajeros con la rica cultura andina, la paz de sus paisajes y la calidez de nuestras comunidades.
      </p>
      <p>
        Ya sea que esté buscando aventuras de senderismo, auténticas casas de familia o relajación junto al lago,
        nuestro equipo garantiza una experiencia segura e inolvidable en cada paso del camino.
      </p>
      <a href="/" class="cta-button">Reserva tu destino</a>
    </div>
  </div>
</section>



<section class="reseña-section">
  <div class="reseña-container">

    <!-- Izquierda: Texto -->
    <div class="reseña-texto" data-aos="fade-right" data-aos-duration="1000">
      <h2>Deja una Reseña de tu visita</h2>
      <p>
        Queremos saber todo sobre tu visita a Capachica. Deja tu reseña y comparte con nosotros tus momentos favoritos.
        ¡Tu opinión ayuda a mejorar y a que otros viajeros descubran lo mejor de este hermoso lugar!
      </p>
    </div>

    <!-- Derecha: Formulario -->
    <div class="reseña-formulario" data-aos="fade-left" data-aos-duration="1000">
      <form>
        <input type="text" placeholder="Lugar de visita" required />
        <input type="text" placeholder="Calificación" required />
        <input type="date" placeholder="Fecha" required />
        <textarea placeholder="Mensaje" rows="5" required></textarea>
        <button type="submit">Enviar Reseña</button>
      </form>
    </div>

  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Nuestras Redes Sociales</h2>
          <p>Puedes seguirnos en nuestras redes sociales para estar al tanto de nuevos eventos y actividades que tenemos preparados para ti.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Informacion</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Acerca de Nosotros</a></li>
            <li><a href="#" class="py-2 d-block">Contactanos</a></li>
            <li><a href="#" class="py-2 d-block">Preguntas Generales</a></li>
            <li><a href="#" class="py-2 d-block">Ternimos y Condiciones</a></li>
            <li><a href="#" class="py-2 d-block">Politicas de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">¿Tienes alguna Pregunta?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Plaza de Armas S/N - Capachica - Puno - Perú</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+51 950 923 204</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">municapachica2023&#64;gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
      </div>
    </div>-->
  </div>
</footer>
