<div class="hero-section" style="background-image: url('../../../assets/images/llachon.png'); width: 100%; height: 760px;">
  <div class="overlay"></div>
  <div class="container" data-aos="fade-down" data-aos-duration="1000">
    <div class="row no-gutters hero-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 text-center">
        <p class="breadcrumb-trail"><span class="mr-2"><a href="index.html">Inicio</a></span><span>>Destinos</span> <span> >Chifron</span></p>
        <h1 class="hero-title mb-3">BIENVENIDOS A <br>CHIFRON</h1>
        <p class="hero-subtitle">Un refugio de tradiciones ancestrales y paisajes cautivadores.</p>
      </div>
    </div>
  </div>
</div>


<section class="community-section">
  <div class="container">
    <div class="row">
      <!-- Imagen de la izquierda -->
      <div class="col-md-6 order-md-first">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/chifron_datos.png" alt="de Llachón" class="community-image">
        </div>
      </div>
      <!-- Texto de la derecha -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="text-container">
          <p class="section-description">
            Chifrón cuenta con una extensa playa de arena que permite disfrutar de las aguas cristalinas del lago Titicaca y rodeada de miradores naturales y cerros ideales para realizar ceremonias rituales de la hoja de la coca o caminatas que permiten descubrir putukus de piedra, cuentos y leyendas del lugar, tumbas pre-incas y ruinas de piedra así como andenerías. La gastronomía y danzas típicas, las actividades cotidianas de las familias en sus chacras, en el lago Titicaca o en su local artesanal conforman el patrimonio cultural de la comunidad.
          </p>
          <h3>Datos Generales:</h3>
          <ul>
            <li>Ubicación: Provincia de Puno, Distrito de Capachica.</li>
            <li>Estancia recomendada: 02 días / 01 Noche</li>
            <li>Altitud: 3820 msnm</li>
            <li>Clima: seco y templado</li>
            <li>Época de lluvias: Enero - abril</li>
            <li>Temperatura máxima: 20°C / 61°F</li>
            <li>Temperatura mínima: 05°C / 41°F</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title">
          <h2>Quédate con Nosotros</h2>
          <p>
            El hospedaje en Chifron es una experiencia auténtica que permite a los visitantes vivir de cerca las tradiciones de la comunidad. Los alojamientos en casas rurales gestionadas por las familias locales ofrecen un ambiente cálido y acogedor, donde los turistas pueden experimentar la hospitalidad andina.
          </p>
        </div>
      </div>
      <!-- Carrusel a la derecha -->
      <div class="col-md-6" data-aos="flip-left" data-aos-duration="1500">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="accommodation-card">
                <img src="assets/images/chifron_hotel1.png" alt="La Florida Hospedaje Rural">
                <h3>Hospedaje y Restaurante Saywa</h3>
                <p>Hospedaje y Restaurante Saywa se encuentra en Llachon y ofrece alojamiento de 3 estrellas con acceso a un jardín y terraza. Algunas unidades incluyen balcón y/o patio con vistas a la montaña o al lago.</p>
                <a (click)="agregarAlCarrito('Hospedaje y Restaurante Saywa',
    'se encuentra en Llachon y ofrece alojamiento de 3 estrellas con acceso a un jardín y terraza',
    'assets/images/chifron_hotel1.png')"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
              <div class="accommodation-card">
                <img src="assets/images/chifron_hotel2.png" alt="Casa de Oliver y Sebastiana">
                <h3>Casa de Valentín</h3>
                <p>Si te alojas en Casa de Valentin en Capachica, estarás cerca de la playa, a pocos pasos del lago Titicaca. Esta casa de huéspedes de playa se encuentra a 15,2 km de Playa Chifron y a 23,2 km de Isla Tikonata.</p>
                <a (click)="agregarAlCarrito('Casa de Valentín',
    'Casa de Valentin en Capachica, estarás cerca de la playa',
    'assets/images/chifron_hotel2.png')"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
              <div class="accommodation-card">
                <img src="assets/images/chifron_hotel3.png" alt="Munay Tika Wasi">
                <h3>Muña Wasi & Lodge</h3>
                <p>Muña Wasi & Lodge está en Amantani y ofrece alojamiento con patio.  Las unidades cuentan con balcón con vistas al mar.  En el lodge se sirve todas las mañanas un desayuno continental.  En Muña Wasi & Lodge se puede usar la terraza solárium.
                </p>
                <a (click)="agregarAlCarrito('Muña Wasi & Lodge',
    'ofrece alojamiento con patio',
    'assets/images/chifron_hotel3.png')"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="attractions-section">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title1">
          <h2>Atractivos turísticos:</h2>
          <ul>
            <li>
              Es un sector de la comunidad de hilata que posee una hermosa playa extensa de arena blanca denominada playa Chifron, a su lado hermana la playa Taman de regular dimensión en el sector vallecito. Mirador natural Occoranis.
            </li>
            <li>Mirador turístico, cerro centinelayoc.</li>
            <li>Visita panorámica del mirador Occoranis, se puedes apreciar toda la península hasta las cordilleras orientales y republicas de Bolivia.</li>
            <li>Islas isañata.</li>
            <li>Isla Silali.</li>
            <li>Balneario turístico de chifron con piscina, sauna, restaurante (sin aperturar).</li>
            <li>Pesca artesanal.</li>
            <li>Caballos a disposición.</li>
          </ul>
        </div>
      </div>
      <!-- Imagen a la derecha -->
      <div class="col-md-6">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/chifron_turista1.png" alt="Atractivos turísticos">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="attractions-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/chifron_turista2.png" alt="Atractivos turísticos">
        </div>
      </div>
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title1">
          <h2>El turista puede experimentar:</h2>
          <ul>
            <li>Deportes de aventuras en el lago paseo en botes, natación, buceo, atletismo en arena trekking.</li>
            <li>Cabalgata y paseos en caballo.</li>
            <li>Acampar en la playa y arena blanca.</li>
            <li>Observación de flora y fauna silvestres, plantas acuáticas.</li>
            <li>Turismo místico arque astronomía de las constelaciones y equinoccios del espacio.</li>
            <li>Aromaterapia y medicina alternativa con plantas nativas curativas.</li>
            <li>Observación y elaboración de prendas artesanales en tejido a mano de la asociación “Kory kantuta”.</li>
            <li>Fogata y danza en la playa.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="review-section" id="section-counter" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000">
        <div class="section-title">
          <h2>Deja una Reseña de tu visita</h2>
          <p>Queremos saber todo sobre tu visita a Capachica. Deja tu reseña y comparte con nosotros tus momentos favoritos. ¡Tu opinión ayuda a mejorar y a que otros viajeros descubran lo mejor de este hermoso lugar!</p>
        </div>
      </div>

      <!-- Formulario a la derecha -->
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1000">
        <form class="review-form">
          <div class="form-group">
            <input type="text" class="form-control" id="place" placeholder="Lugar de visita">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="rating" placeholder="Calificación" max="5" min="1">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" id="date">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="message" rows="4" placeholder="Mensaje"></textarea>
          </div>
          <button type="submit" class="btn btn-submit">Enviar Reseña</button>
        </form>
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Nuestras Redes Sociales</h2>
          <p>Puedes seguirnos en nuestras redes sociales para estar al tanto de nuevos eventos y actividades que tenemos preparados para ti.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Informacion</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Acerca de Nosotros</a></li>
            <li><a href="#" class="py-2 d-block">Contactanos</a></li>
            <li><a href="#" class="py-2 d-block">Preguntas Generales</a></li>
            <li><a href="#" class="py-2 d-block">Ternimos y Condiciones</a></li>
            <li><a href="#" class="py-2 d-block">Politicas de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">¿Tienes alguna Pregunta?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Plaza de Armas S/N - Capachica - Puno - Perú</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+51 950 923 204</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">municapachica2023&#64;gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
      </div>
    </div>-->
  </div>
</footer>

