<div class="hero-section" style="background-image: url('../../../assets/images/llachon.png'); width: 100%; height: 760px;">
  <div class="overlay"></div>
  <div class="container" data-aos="fade-down" data-aos-duration="1000">
    <div class="row no-gutters hero-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 text-center">
        <p class="breadcrumb-trail"><span class="mr-2"><a href="index.html">Inicio</a></span><span>>Destinos</span> <span> >Llachon</span></p>
        <h1 class="hero-title mb-3">BIENVENIDOS A <br>LLACHON</h1>
        <p class="hero-subtitle">Un lugar donde la tradición y la naturaleza se encuentran</p>
      </div>
    </div>
  </div>
</div>


<section class="community-section">
  <div class="container">
    <div class="row">
      <!-- Imagen de la izquierda -->
      <div class="col-md-6 order-md-first">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/llachon-datos.png" alt="de Llachón" class="community-image">
        </div>
      </div>
      <!-- Texto de la derecha -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="text-container">
          <p class="section-description">
            Llachon es una comunidad profundamente conectada con sus raíces y tradiciones ancestrales. Sus habitantes continúan practicando técnicas de tejeduría tradicional, utilizando materiales locales como la lana de alpaca para crear hermosos textiles que reflejan el arte y la cultura del lugar. Las festividades locales, llenas de color y música, son una expresión vibrante de su identidad. Además, la pesca artesanal y la agricultura sostenible siguen siendo pilares de su economía, manteniendo un equilibrio con la naturaleza y asegurando la preservación de su entorno. Los visitantes tienen la oportunidad de sumergirse en estas prácticas.
          </p>
          <h3>Datos Generales:</h3>
          <ul>
            <li>Ubicación: Provincia de Puno, Distrito de Capachica.</li>
            <li>Estancia recomendada: 02 días / 01 Noche</li>
            <li>Altitud: 3820 msnm</li>
            <li>Clima: seco y templado</li>
            <li>Época de lluvias: Enero - abril</li>
            <li>Temperatura máxima: 20°C / 68°F</li>
            <li>Temperatura mínima: 05°C / 41°F</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title">
          <h2>Quédate con Nosotros</h2>
          <p>En la zona hay opciones de alojamiento ecológico que permiten disfrutar del paisaje sin dañar el entorno natural. Ya sea que prefieras un ambiente familiar o más rústico, el hospedaje en Llachon te garantizará una estadía inolvidable.</p>
        </div>
      </div>
      <!-- Carrusel a la derecha -->
      <div class="col-md-6" data-aos="flip-left" data-aos-duration="1500">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="accommodation-card">
                <img src="assets/images/llachon_hotel1.png" alt="La Florida Hospedaje Rural">
                <h3>La Florida Hospedaje Rural</h3>
                <p>Hospedaje Rural La Florida en Llachon, Titicaca se encuentra en Puno y ofrece alojamiento con parking privado gratis. También se ofrece nevera y hervidor. También hay un jardín ideal para relajarse.</p>
                  <div style="display: flex">
                    <a (click)="agregarAlCarrito('La Florida Hospedaje Rural',
        'Hospedaje Rural La Florida en Llachon, Titicaca...',
        'assets/images/llachon_hotel1.png')"
                       class="btn btn-primary">Quedarme Aquí</a>
                    <a class="btn btn-primary" routerLink="/market">Ver mas</a>
                  </div>

              </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
              <div class="accommodation-card">
                <img src="assets/images/llachon_hotel2.png" alt="Casa de Oliver y Sebastiana">
                <h3>Casa de Oliver y Sebastiana</h3>
                <p>Los descuentos Genius en este alojamiento dependen de las fechas de reserva, las fechas de estancia y otras ofertas disponibles.</p>
                <a (click)="agregarAlCarrito('Casa de Oliver',
    'Los descuentos Genius en este alojamiento dependen de las fechas de reserva',
    'assets/images/llachon_hotel2.png')"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
              <div class="accommodation-card">
                <img src="assets/images/llachon_hotel3.png" alt="Munay Tika Wasi">
                <h3>Munay Tika Wasi (Rufino y Lucrecia)</h3>
                <p>Rufino y Lucrecia MUNAY TIKA WASI Posada Oha dispone de jardín, terraza, restaurante y bar en Puno. Hay parking privado en el propio alojamiento.</p>
                <a (click)="agregarAlCarrito('Munay Tika',
    'MUNAY TIKA WASI Posada Oha dispone de jardín, terraza, restaurante y bar en Puno',
    'assets/images/llachon_hotel3.png')"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="attractions-section">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title1">
          <h2>Atractivos turísticos:</h2>
          <ul>
            <li>La zona presenta productos agrícola y sistemas de andenería, evidencias arqueológicas pertenecientes a las culturas pukara, Qolla y Tiahuanacu, los miradores y “apus auki Karus Pata, Apu QesqApa” y tienen una arquitectura circular de aproximadamente 2 metros de altura con la apariencia de un templo pre – incaico, con piedras lajas toscamente labradas colocadas en hileras que forman un circulo, al anterior del templo se encuentra una piedra plana dentro del patio AUKI KARUS en la cual se rinde culto en agradecimiento a la Pacha mamas (mama Qocha) y al padre Dios sol (taita inti), por la agricultura, ganadería en general para la población, estudios, trabajos, salud.</li>
            <li>Kills Qaqa (roca de luna)</li>
            <li>Playa ccollpa, santa maría</li>
            <li>Taller de artesanías Llachon en la plaza y confección de la peculiaridad del chullo kantuta símbolo de la mujer soltera.</li>
            <li>Gastronomía andina</li>
            <li>Danzas típicas (ispalla) y música</li>
            <li>Sus pobladores amables con sus vestimentas típicas</li>
          </ul>
        </div>
      </div>
      <!-- Imagen a la derecha -->
      <div class="col-md-6">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/llachon_turista1.png" alt="Atractivos turísticos">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="attractions-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/llachon_turista2.png" alt="Atractivos turísticos">
        </div>
      </div>
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title1">
          <h2>El turista puede experimentar:</h2>
          <ul>
            <li>Agroturismo, artesanía, danzas y gastronomía andina a través del turismo vivencial con las familias.</li>
            <li>Turismo de aventura con paseo en botes veleros.</li>
            <li>Deportes (trekking, kayak ciclismo, buceo)</li>
            <li>Turismo ecológico con las observación de flora y fauna</li>
            <li>Vistas panorámicas del lago titikaka.</li>
            <li>Puede contemplar espectaculares atardeceres junto al lago titikaka la playa y el sol</li>
            <li>Fogatas bailables, narraciones de cuentos.</li>
            <li>Arqueo astronomía</li>
            <li>Pernoctación en casas de adobe, paja y totora de las familias</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Nuestras Redes Sociales</h2>
          <p>Puedes seguirnos en nuestras redes sociales para estar al tanto de nuevos eventos y actividades que tenemos preparados para ti.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Informacion</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Acerca de Nosotros</a></li>
            <li><a href="#" class="py-2 d-block">Contactanos</a></li>
            <li><a href="#" class="py-2 d-block">Preguntas Generales</a></li>
            <li><a href="#" class="py-2 d-block">Ternimos y Condiciones</a></li>
            <li><a href="#" class="py-2 d-block">Politicas de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">¿Tienes alguna Pregunta?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Plaza de Armas S/N - Capachica - Puno - Perú</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+51 950 923 204</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">municapachica2023&#64;gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
      </div>
    </div>-->
  </div>
</footer>

