<nav>
  <ul>
    <li><a href="javascript:void(0)" (click)="navigateTo('/')">Inicio</a></li>
    <li><a href="javascript:void(0)" (click)="navigateTo('/about')">Acerca de</a></li>
    <li><a href="javascript:void(0)" (click)="navigateTo('/places')">Lugares</a></li>
    <li><a href="javascript:void(0)" (click)="navigateTo('/hotel')">Hoteles</a></li>
    <li><a href="javascript:void(0)" (click)="navigateTo('/blog')">Blog</a></li>
    <li><a href="javascript:void(0)" (click)="navigateTo('/contact')">Contacto</a></li>
    <li><a href="javascript:void(0)" (click)="navigateTo('http://localhost:4200/sign-in')">Iniciar Sesion</a></li>

  </ul>
</nav>


