<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">{{ distrito }} </a>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <!-- Utilizamos ngFor para recorrer los enlaces y mostrar el nombre dinámicamente -->
        <li class="nav-item" *ngFor="let link of navbarLinks">
          <a href="javascript:void(0)"
             [id]="link.id"
             (click)="navigateTo(link.route, link.id)">
            {{ link.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
