<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="container">
    <a class="navbar-brand text-white" href="index.html">{{ distrito }} Tours</a>

    <ul class="nav-list">
      <li *ngFor="let item of navItems" class="nav-item" [ngClass]="{ 'active': isActive(item.path) }"
          (mouseleave)="closeDropdown()" >

        <a href="javascript:void(0)" (click)="
          item.children ? toggleDropdown(navItems.indexOf(item)) : navigateTo(item.path)
        " class="nav-link">
          {{ item.label }}
          <span *ngIf="item.children" class="arrow">&#9662;</span>
        </a>

        <!-- Submenu -->
        <ul *ngIf="item.children && dropdownOpenIndex === navItems.indexOf(item)" class="dropdown">
          <li *ngFor="let child of item.children" class="dropdown-item"
              [ngClass]="{ 'active': isActive(child.path) }">
            <a href="javascript:void(0)" (click)="navigateTo(child.path)">{{ child.label }}</a>
          </li>
        </ul>

      </li>
    </ul>
    <app-carrito-sidebar></app-carrito-sidebar>
  </div>
</nav>
