<div class="hero-section" style="background-image: url('../../../assets/images/llachon.png'); width: 100%; height: 760px;">
  <div class="overlay"></div>
  <div class="container" data-aos="fade-down" data-aos-duration="1000">
    <div class="row no-gutters hero-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 text-center">
        <p class="breadcrumb-trail"><span class="mr-2"><a href="index.html">Inicio</a></span><span>>Destinos</span> <span> >Ccotos</span></p>
        <h1 class="hero-title mb-3">BIENVENIDOS A <br>CCOTOS</h1>
        <p class="hero-subtitle">Un rincón de historia, naturaleza y tradiciones vivas.</p>
      </div>
    </div>
  </div>
</div>


<section class="community-section">
  <div class="container">
    <div class="row">
      <!-- Imagen de la izquierda -->
      <div class="col-md-6 order-md-first">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/ccotos_datos.png" alt="de Llachón" class="community-image">
        </div>
      </div>
      <!-- Texto de la derecha -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="text-container">
          <p class="section-description">
            Ccotos es una comunidad donde las tradiciones y el respeto por la naturaleza se mantienen vivas a través del tiempo. La agricultura sostenible es uno de los pilares de la vida en Ccotos, cultivando productos como la quinua y la papa, y trabajando en armonía con el suelo. Los habitantes de Ccotos son conocidos por su arte textil que utiliza técnicas tradicionales y materiales naturales, creando coloridas prendas que reflejan la rica herencia cultural de la región.Las festividades que celebran a lo largo del año son momentos de unión y alegría, con música, danzas y rituales ancestrales. Los visitantes tienen la oportunidad de conocer y participar en estos rituales, disfrutando de la calidez y hospitalidad de la comunidad.          </p>
          <h3>Datos Generales:</h3>
          <ul>
            <li>Ubicación: Provincia de Puno, Distrito de Capachica.</li>
            <li>Estancia recomendada: 02 días / 01 Noche</li>
            <li>Altitud: 3820 msnm</li>
            <li>Clima: seco y templado</li>
            <li>Época de lluvias: diciembre - abril</li>
            <li>Temperatura máxima: 20°C / 61°F</li>
            <li>Temperatura mínima: 05°C / 41°F</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(assets/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title">
          <h2>Quédate con Nosotros</h2>
          <p>
            El hospedaje en Ccotos ofrece una experiencia rural auténtica, donde los visitantes pueden hospedarse en casas familiares que abren sus puertas para compartir su estilo de vida tradicional. Las estancias ofrecen un ambiente cálido y acogedor, y los turistas pueden disfrutar de una gastronomía local, con platos preparados con ingredientes frescos cultivados en la misma comunidad
          </p>
        </div>
      </div>
      <!-- Carrusel a la derecha -->
      <div class="col-md-6" data-aos="flip-left" data-aos-duration="1500">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="accommodation-card">
                <img src="assets/images/ccotos_hotel1.png" alt="La Florida Hospedaje Rural">
                <h3>La Florida Hospedaje Rural</h3>
                <p>
                  Hospedaje Rural La Florida en Llachon, Titicaca se encuentra en Puno y ofrece alojamiento con parking privado gratis. También se ofrece nevera y hervidor. También hay un jardín ideal para relajarse.
                </p>
                <a (click)="agregarAlCarrito('La Florida Hospedaje Rural',
                'Hospedaje Rural La Florida en Llachon',
                'assets/images/ccotos_hotel1.png')"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
              <div class="accommodation-card">
                <img src="assets/images/ccotos_hotel2.png" alt="Casa de Oliver y Sebastiana">
                <h3>Casa de Oliver y Sebastiana</h3>
                <p>
                  Los descuentos Genius en este alojamiento dependen de las fechas de reserva, las fechas de estancia y otras ofertas disponibles.
                  Posada de Oliver está en Llachon y dispone de wifi gratis, jardín, terraza y restaurante.
                </p>
                <a (click)="agregarAlCarrito('Casa de Oliver y Sebastiana',
                'Los descuentos Genius en este alojamiento dependen de las fechas de reserva',
                'assets/images/ccotos_hotel2.png')"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
              <div class="accommodation-card">
                <img src="assets/images/ccotos_hotel3.png" alt="Munay Tika Wasi">
                <h3>Munay Tika Wasi (Rufino y Lucrecia)</h3>
                <p>
                  Rufino y Lucrecia MUNAY TIKA WASI Posada Oha dispone de jardín, terraza, restaurante y bar en Puno. Hay parking privado en el propio alojamiento. En el hotel, las habitaciones tienen un balcón con vistas al lago. En Rufino y Lucrecia MUNAY TIKA WASI Posada Oha, todas las habitaciones incluyen baño privado con artículos de aseo gratuitos.
                </p>
                <a (click)="agregarAlCarrito('Munay Tika Wasi (Rufino y Lucrecia)',
                'Rufino y Lucrecia MUNAY TIKA WASI Posada Oha dispone de jardín',
                'assets/images/ccotos_hotel3.png')"
                   class="btn btn-primary">Quedarme Aquí</a>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="attractions-section">
  <div class="container">
    <div class="row">
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title1">
          <h2>Atractivos turísticos:</h2>
          <ul>
            <li>
              Las actividades turísticas en Ccotos son una mezcla perfecta de naturaleza, aventura y cultura. Los visitantes pueden disfrutar de paseos en bote por el Lago Titicaca, admirando las vistas del lago y la península de Capachica.            </li>
            <li>Mirador turístico, cerro centinelayoc.</li>
            <li>
              También pueden participar en senderismo por los alrededores de la comunidad, explorando las montañas y los campos agrícolas.
            </li>
            <li>
              Talleres de artesanía en los que los turistas pueden aprender a tejer textiles tradicionales, trabajar con lana y conocer el proceso de producción de las prendas típicas.
            </li>
            <li>
              Las visitas a las huertas permiten descubrir las prácticas agrícolas sostenibles que los habitantes de Ccotos han mantenido durante generaciones.
            </li>
          </ul>
        </div>
      </div>
      <!-- Imagen a la derecha -->
      <div class="col-md-6">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/ccotos_turista1.png" alt="Atractivos turísticos">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="attractions-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-container" data-aos="flip-left" data-aos-duration="1500">
          <img src="assets/images/ccotos_turista2.png" alt="Atractivos turísticos">
        </div>
      </div>
      <!-- Texto a la izquierda -->
      <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
        <div class="section-title1">
          <h2>El turista puede experimentar:</h2>
          <ul>
            <li>Visitas guiadas a los Miradores naturales de Inca Samana y otros</li>
            <li>Visita a la isla Ticonata y observación del museo local</li>
            <li>Vistas islas de Uki, Lagarto</li>
            <li>Participación en la Agricultura</li>
            <li>Caminatas</li>
            <li>Observación del paisaje y el lago Titicaca</li>
            <li>Paseo en bote velero y/o a remo</li>
            <li>Pesca artesanal</li>
            <li>Observación de las ruinas arqueológicas</li>
            <li>Danza con la vestimenta típica de la zona</li>
            <li>Artesanía</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Nuestras Redes Sociales</h2>
          <p>Puedes seguirnos en nuestras redes sociales para estar al tanto de nuevos eventos y actividades que tenemos preparados para ti.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Informacion</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Acerca de Nosotros</a></li>
            <li><a href="#" class="py-2 d-block">Contactanos</a></li>
            <li><a href="#" class="py-2 d-block">Preguntas Generales</a></li>
            <li><a href="#" class="py-2 d-block">Ternimos y Condiciones</a></li>
            <li><a href="#" class="py-2 d-block">Politicas de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">¿Tienes alguna Pregunta?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Plaza de Armas S/N - Capachica - Puno - Perú</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+51 950 923 204</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">municapachica2023&#64;gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
      </div>
    </div>-->
  </div>
</footer>

